<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
<div class="stickydiv">
    <header>
        <div>
            <button id="loginButtonInIndexHTML" class="btn btn-danger" style="float: right; margin-top: 20px; margin-right:10px;" >LOGIN</button>
            <button id="logOutButtonInIndexHTML" class="btn btn-danger" style="float: right; margin-top: 20px; margin-right:5px;">LOGOUT</button>
            <button id="signupButtonInIndexHTML" class="btn btn-danger" style="float: right; margin-top: 20px;  margin-right:5px;">SIGNUP</button>
        </div>
        <h1>Welcome to our site!</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg  "  >
        <a class="navbar-brand" href="#">Najme</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog_app:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.w3schools.com/howto/howto_css_responsive_text.asp">Learn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Me</a>
                </li>
                <li class="nav-item">
                    <a href= "https://www.w3schools.com/" class="nav-link disabled" style="color: #cc3300">w3school</a>
                </li>
                 <ul class="navbar-nav searchUl" >
                    <li class="nav-item">
                        <input id="searchInput" type="text" class="form-control searchInput ">
                    </li>
                    <li class="nav-item">
                        <button class=" btn btn-danger searchBTN"  id="searchBTN">search</button>
                    </li>
                 </ul>
            </ul>
        </div>
    </nav>
</div>

    <img src="{% static 'images/1.jpg' %}" class="img-fluid" style="margin-top: 120px; "  >
    <div style="width: 100%; background-color: black; height: 10px;" ></div>

  <div class="container main">
      <article>
          <p class="title ">Posts</p>
          <div class="post" id="post">
              <ul>
                  <li class="titlePost"> </li>
                  <li  class="bodyPost"> </li>
              </ul>
          </div>
      </article>
      <aside>

    <p class="title">Category</p>
          <div class="link" id="categorylinksContainer">
              <ul id="categoryUL" class="list-group list-group-collapse">
              </ul>
          </div>
      </aside>
  </div>

<footer class="mainfooter"></footer>

</body>
</html>