<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signUp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/signup.js' %}"></script>
</head>
<body>

    <img src="{% static 'images/signup.jpg' %}" class="img-fluid"   >
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg  "  >
        <a class="navbar-brand" href="#">Najme</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog_app:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.w3schools.com/howto/howto_css_responsive_text.asp">Learn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Me</a>
                </li>
                <li class="nav-item">
                    <a href= "https://www.w3schools.com/" class="nav-link disabled" style="color: #cc3300">w3school</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container form-group signUpContainer">
        <label class="signUpLabel">User Name</label>
        <input type="text" id="nameSignUp" class="form-control">
        <label class="signUpLabel">Password</label>
        <input type="password" id="passwordSignUp" class="form-control" name="password1">
        <label class="signUpLabel">Repeat Password</label>
        <input type="password" id="confirm" class="form-control" name="password2">
        <button type="submit" id="signUp_BTN" class="btn  signUpButton">JOIN NOW</button>
    </div>
{#    {{ form.as_p }}#}

</body>
</html>